<!-- <app-header></app-header>
<div class="weather-app">
    <div class="left-panel">
        <input [(ngModel)]="cityName" placeholder="Type city name">
        <button class="add-btn" (click)="addCity()">+</button>

        <div class="recent-title">Recent locations</div>
        <div *ngFor="let city of recentCities; let i = index" class="city-item">
            <span (click)="showForecast(city.name)">
                {{ city.name }} - {{ city.main.temp }}C {{ city.weather[0].main }}
            </span>
            <button (click)="refreshCity(i)">&#8635;</button>
            <button (click)="deleteCity(i)">&#10006;</button>
        </div>

        <button class="clear-btn" (click)="clearCities()">Clear</button>

    </div>

    <div class="right-panel">

        <h3>{{ forecast?.city?.name }}</h3>
        <button class="refresh-main" *ngIf="forecast?.city?.name" (click)="showForecast(forecast?.city?.name ?? '')">&#8635;</button>

        <div class="weather-icon">
            Weather Icon
        </div>

        <div class="weather-details">
            {{ forecast?.list?.[0]?.main?.temp }}C <br>
            {{ forecast?.list?.[0]?.weather?.[0]?.description }} <br>
            Wind: {{ forecast?.list?.[0]?.wind?.speed }}ms {{ forecast?.list?.[0]?.wind?.deg }} deg <br>
            Pressure {{ forecast?.list?.[0]?.main?.pressure }}
        </div>

        <div class="forecast-row">
            <div *ngFor="let item of forecast?.list | slice:0:5" class="forecast-item">
                <div>{{ item.dt_txt | date:'dd' }}<br>{{ item.dt_txt | date:'EEE' }}</div>
                <div class="forecast-icon">Icon</div>
                <div>{{ item.main.temp }}C</div>
            </div>
        </div>

    </div>


</div> -->



<!-- <body>
  <h2>Weather APP:</h2>
  <div class="container">
    <div class="sidebar">
      <div class="search-box">
        <input type="text" placeholder="Type city name" />
        <button class="add-btn">+</button>
      </div>
      <hr />
      <div class="recent-label">Recent locations</div>
      <ul class="recent-list">
        <li>
          London - 12C Cloudy
          <button class="refresh-btn">⟳</button>
          <button class="delete-btn">✖</button>
        </li>
        <li>
          New York - 5C Cloudy
          <button class="refresh-btn">⟳</button>
          <button class="delete-btn">✖</button>
        </li>
        <li>
          Halifax - 18C Sunny
          <button class="refresh-btn">⟳</button>
          <button class="delete-btn">✖</button>
        </li>
      </ul>
      <button class="clear-btn">Clear</button>
    </div>

    <div class="main">
      <div class="header">
        <h3>Halifax</h3>
        <button class="refresh-btn">⟳</button>
      </div>
      <div class="weather-details">
        <div class="weather-icon">Weather Icon</div>
        <div class="weather-info">
          <p>15C</p>
          <p>Clear sky</p>
          <p>Wind: 3ms 160 deg</p>
          <p>Pressure 1024</p>
        </div>
      </div>
      <div class="forecast">
        <div class="day">
          <div class="icon">[ ]</div>
          <p>10 Mon</p>
          <p>15C</p>
        </div>
        <div class="day">
          <div class="icon">[ ]</div>
          <p>11 Tue</p>
          <p>18C</p>
        </div>
        <div class="day">
          <div class="icon">[ ]</div>
          <p>12 Wed</p>
          <p>20C</p>
        </div>
        <div class="day">
          <div class="icon">[ ]</div>
          <p>13 Thu</p>
          <p>22C</p>
        </div>
        <div class="day">
          <div class="icon">[ ]</div>
          <p>14 Fri</p>
          <p>22C</p>
        </div>
      </div>
    </div>
  </div>
</body>
 -->

 <app-header></app-header>
 <h2>Weather APP:</h2>

<div class="container">
  <!-- Sidebar Section -->
  <div class="sidebar">
    <div class="search-box">
      <input type="text" [(ngModel)]="cityName" placeholder="Type city name" />
      <button (click)="addCity()">+</button>
    </div>
    <hr />
    <div class="recent-label">Recent locations</div>
    <ul class="recent-list">
      <li *ngFor="let city of recentCities; let i = index">
        <div (click)="showForecast(city.name)" style="cursor: pointer;">
          {{ city.name }} - {{ city.main.temp }}°C {{ city.weather[0]?.description }}
        </div>
        <button (click)="refreshCity(i)">⟳</button>
        <button (click)="deleteCity(i)">✖</button>
      </li>
    </ul>
    <button class="clear-btn" (click)="clearCities()">Clear</button>
    <div *ngIf="errorMsg" style="color:red; margin-top: 10px;">{{ errorMsg }}</div>
  </div>

  <div class="main" *ngIf="forecast">
    <div class="header">
      <h3>{{ forecast.city.name }}</h3>
      <button (click)="showForecast(forecast.city.name)">⟳</button>
    </div>

    <div class="weather-details">
      <div class="weather-icon">
        <img
          *ngIf="forecast.list?.[0]?.weather?.[0]?.icon ?? false"
          [src]="'http://openweathermap.org/img/wn/' + forecast.list[0].weather[0].icon + '@2x.png'"
          alt="Weather Icon"
        />
      </div>
      <div class="weather-info">
        <p>{{ forecast.list[0].main.temp }}°C</p>
        <p>{{ forecast.list[0].weather[0].description }}</p>
        <p>Wind: {{ forecast.list[0].wind.speed }} m/s, {{ forecast.list[0].wind.deg }}°</p>
        <p>Pressure: {{ forecast.list[0].main.pressure }}</p>
      </div>
    </div>

    <div class="forecast">
      <div class="day" *ngFor="let item of forecast.list.slice(1, 6)">
        <div class="icon">
          <img
            *ngIf="item.weather[0]?.icon"
            [src]="'http://openweathermap.org/img/wn/' + item.weather[0].icon + '@2x.png'"
            alt="Icon"
          />
        </div>
        <p>{{ item.dt_txt | date: 'dd EEE' }}</p>
        <p>{{ item.main.temp }}°C</p>
      </div>
    </div>
  </div>
</div>
