
 <app-header></app-header>
 <h2>Weather APP:</h2>

<div class="container">
 <div class="sidebar">
    <div class="search-box">
      <input type="text" [(ngModel)]="cityName" placeholder="Type city name" />
      <button (click)="addCity()">+</button>
    </div>
    <hr />
    <div class="recent-label">Recent locations</div>
    <ul class="recent-list">
      <li *ngFor="let city of recentCities; let i = index">
        <div (click)="showForecast(city.name)" style="cursor: pointer;">
          {{ city.name }} - {{ city.main.temp }}°C {{ city.weather[0]?.description }}
        </div>
        <button (click)="refreshCity(i)">⟳</button>
        <button (click)="deleteCity(i)">✖</button>
      </li>
    </ul>
    <button class="clear-btn" (click)="clearCities()">Clear</button>
    <div *ngIf="errorMsg" style="color:red; margin-top: 10px;">{{ errorMsg }}</div>
  </div>

  <div class="main" *ngIf="forecast">
    <div class="header">
      <h3>{{ forecast.city.name }}</h3>
      <button (click)="showForecast(forecast.city.name)">⟳</button>
    </div>

    <div class="weather-details">
      <div class="weather-icon">
        <img
          *ngIf="forecast.list?.[0]?.weather?.[0]?.icon ?? false"
          [src]="'http://openweathermap.org/img/wn/' + forecast.list[0].weather[0].icon + '@2x.png'"
          alt="Weather Icon"
        />
      </div>
      <div class="weather-info">
        <p>{{ forecast.list[0].main.temp }}°C</p>
        <p>{{ forecast.list[0].weather[0].description }}</p>
        <p>Wind: {{ forecast.list[0].wind.speed }} m/s, {{ forecast.list[0].wind.deg }}°</p>
        <p>Pressure: {{ forecast.list[0].main.pressure }}</p>
      </div>
    </div>

    <div class="forecast">
      <div class="day" *ngFor="let item of forecast.list.slice(1, 6)">
        <div class="icon">
          <img
            *ngIf="item.weather[0]?.icon"
            [src]="'http://openweathermap.org/img/wn/' + item.weather[0].icon + '@2x.png'"
            alt="Icon"
          />
        </div>
        <p>{{ item.dt_txt | date: 'dd EEE' }}</p>
        <p>{{ item.main.temp }}°C</p>
      </div>
    </div>
  </div>
</div>
